body {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    border: none;
    outline: none;
}

span {
	outline: none; 
	border: none;
	margin: 0;
    padding: 0;
}

.Terminal {
    padding-left: 20px;
    padding-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.Terminal_Item {
    padding-left: 20px;
	line-height: 0.2;
}

.CLI {
    padding-left: 20px;
	padding-top: 5px;
}

.CLI_style {
	font-family: 'Cascadia Mono', monospace; /* Match font to Cascadia Mono */
    font-size: 16px;
	color: white;
	background-color: black;
}