/* Setting body styles to match Win CMD */
body {
    background-color: black;
    color: white;
    font-family: 'Cascadia Mono', monospace;
    margin: 0;
    padding: 0;
}

/* Making input look like a cmd command line */
input[type="text"] {
    background-color: black; /* Set background to black */
    color: white; /* Text color inside input box */
    border: none; /* Remove border */
    outline: none; /* Remove focus outline */
    font-family: 'Cascadia Mono', monospace; /* Match font to Cascadia Mono */
    font-size: 16px;

}

/* Remove any special styling from default */
span {
	outline: none; 
	border: none;
	margin: 0;
    padding: 0;
}



.Terminal {
    padding-left: 20px;
    padding-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.Terminal_Item {
    margin: 5px 0;
}

.CLI {
    padding-left: 20px;
	padding-top: 20px;
}


